.kw-tools img {
  position: absolute;
  left: 0;
  z-index: -10;
}
.kw-tools h2 {
  position: relative;
}
.kw-tools h2::before {
  content: '';
  border-top: 2px solid #000;
  width: 50%;
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
}
