@import 'fonts';
@import 'reset';
@import 'navigation';
@import 'header';
@import 'portfolio';
@import 'about';

html {
  font-weight: 500;
}

.kw-content {
  max-width: 80%;
}
.kw-bold-800 {
  font-weight: 800;
}
@media (min-width: 1707px) {
  .kw-content {
    max-width: 1366px;
  }
}

.kw-padding-even-16 {
  padding: 16px;
}
