<section class="kw-content kw-margin-top-32 kw-about">
  <div class="kw-padding-small">
    <div class="kw-row">
      <div class="kw-col l6 kw-border-black kw-padding-even-16">
        <img
          src="/images/julia_freisleder@2x.png"
          alt="Julia Freisleder"
          class="kw-image"
        />
      </div>
      <div class="kw-col l6 kw-right-align kw-about-text-block">
        <h2 class="kw-headline">
          Über mich<img
            class="kw-headline-background"
            src="/images/headline-pattern.png"
          />
        </h2>
        <p>
          Hi, ich bin Julia und ich stecke hinter freistile design. Ich arbeite
          seit über 3 Jahren als selbständige Grafikdesignerin. Meistens stehe
          dir remote aus der fränkischen Stadt Nürnberg zu Verfügung. Sie ist
          meine Wahlheimat, doch ich bin auch viel auf Reisen. Ich liebe
          Abwechslung und genieße die räumlichen und zeitlichen Freiheiten, die
          mir das Freelancer-Leben ermöglich. Meine Kund*innen schwören auf
          meine Soft-Skill-Mischung aus Flexibilität und Verlässlichkeit. Ich
          lege gerne direkt Deadlines fest und halte dabei immer einen Puffer
          für kurzzeitige Designänderungen bereit. Welche Talente,
          Qualifikationen und persönliche Motivation dich mit mir erwarten,
          erfährst du, wenn du weiterscrollst.
        </p>
        <p>
          Du willst direkt Kontakt aufnehmen? Dann am besten per Mail an:
          mail@freistile.de
        </p>
      </div>
    </div>
  </div>
</section>
