---
---

<header class="kw-content kw-center">
  <div class="kw-content kw-content--header">
    <img src="/images/header-frame.svg" alt="" />
    <h1 class="kw-bold-800 kw-headline">
      Was kann ich für<br />dich Designen?
    </h1>
    <p>Hi, mein Name ist Julia und ich bin freiberufliche Grafikdesignerin.</p>
    <p>
      Mit freistile design helfe ich Unternehmen und Personenmarken sichtbar zu
      werden, indem ich visuelle Lösungen für Web und Print, sowie
      unverwechselbare Logos kreiere.
    </p>
    <p>
      Schau dir gerne meine Arbeit an und lass mich wissen, wenn ich etwas für
      dich tun kann.
    </p>
  </div>
  <div class="kw-header-element"></div>
</header>
