---
---

<section class="kw-content kw-margin-top kw-portfolio">
  <div class="kw-row">
    <div class="kw-third">
      <div class="kw-padding-small kw-portfolio-button">
        <button class="kw-button kw-block kw-border active-btn">Logos</button>
      </div>
    </div>
    <div class="kw-third">
      <div class="kw-padding-small kw-portfolio-button">
        <button class="kw-button kw-block kw-border">Webdesign</button>
      </div>
    </div>
    <div class="kw-third">
      <div class="kw-padding-small kw-portfolio-button">
        <button class="kw-button kw-block kw-border">Printdesign</button>
      </div>
    </div>
  </div>
  <!-- TODO: Bilder hinzufügen -->
  <div class="kw-row">
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <!-- TODO: Bild hinzufügen -->
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis
          magni quas eaque dolore, repellat porro non alias delectus mollitia
          voluptatum. Quidem repellat soluta numquam magnam assumenda fuga ut
          earum distinctio asperiores aliquid vel voluptate magni eos reiciendis
          repudiandae, voluptates recusandae.
        </p>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <!-- TODO: Bild hinzufügen -->
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis
          magni quas eaque dolore, repellat porro non alias delectus mollitia
          voluptatum. Quidem repellat soluta numquam magnam assumenda fuga ut
          earum distinctio asperiores aliquid vel voluptate magni eos reiciendis
          repudiandae, voluptates recusandae.
        </p>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <!-- TODO: Bild hinzufügen -->
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis
          magni quas eaque dolore, repellat porro non alias delectus mollitia
          voluptatum. Quidem repellat soluta numquam magnam assumenda fuga ut
          earum distinctio asperiores aliquid vel voluptate magni eos reiciendis
          repudiandae, voluptates recusandae.
        </p>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <!-- TODO: Bild hinzufügen -->
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis
          magni quas eaque dolore, repellat porro non alias delectus mollitia
          voluptatum. Quidem repellat soluta numquam magnam assumenda fuga ut
          earum distinctio asperiores aliquid vel voluptate magni eos reiciendis
          repudiandae, voluptates recusandae.
        </p>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <!-- TODO: Bild hinzufügen -->
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis
          magni quas eaque dolore, repellat porro non alias delectus mollitia
          voluptatum. Quidem repellat soluta numquam magnam assumenda fuga ut
          earum distinctio asperiores aliquid vel voluptate magni eos reiciendis
          repudiandae, voluptates recusandae.
        </p>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <!-- TODO: Bild hinzufügen -->
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis
          magni quas eaque dolore, repellat porro non alias delectus mollitia
          voluptatum. Quidem repellat soluta numquam magnam assumenda fuga ut
          earum distinctio asperiores aliquid vel voluptate magni eos reiciendis
          repudiandae, voluptates recusandae.
        </p>
      </div>
    </div>
  </div>
</section>
<script>
  const buttons = document.querySelectorAll('.kw-portfolio-button button');
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      buttons.forEach((button) => {
        button.classList.remove('active-btn');
      });
      button.classList.add('active-btn');
    });
  });
</script>
