---
---

<section class="kw-content kw-margin-top kw-portfolio">
  <div class="kw-row">
    <div class="kw-third">
      <div class="kw-padding-small kw-portfolio-button">
        <button class="kw-button kw-block kw-border active-btn" data-tab="logos"
          >Logos</button
        >
      </div>
    </div>
    <div class="kw-third">
      <div class="kw-padding-small kw-portfolio-button">
        <button class="kw-button kw-block kw-border" data-tab="webdesign"
          >Webdesign</button
        >
      </div>
    </div>
    <div class="kw-third">
      <div class="kw-padding-small kw-portfolio-button">
        <button class="kw-button kw-block kw-border" data-tab="printdesign"
          >Printdesign</button
        >
      </div>
    </div>
  </div>

  <!-- #### Logos ####### -->
  <div id="logos" class="kw-row">
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo1.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo1.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo2.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo3.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo4.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo5.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #### Logos END ####### -->

  <!-- #### Webdesign ####### -->
  <div id="webdesign" class="kw-row kw-hide">
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img
              src="/images/webdesign/leonie-website-mockup.png"
              alt="logo"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo1.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo2.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo3.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo4.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo5.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #### Webdesign END ####### -->
  <!-- #### Printdesign ####### -->
  <div id="printdesign" class="kw-row kw-hide">
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img
              src="/images/printdesign/Flyer-MW.png"
              alt="logo"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img
              src="/images/printdesign/Mockup-Verpackung-2.png"
              alt="logo"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img
              src="/images/printdesign/projex-weihnachtskarte-mockup.png"
              alt="logo"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img
              src="/images/printdesign/projex.design-weihnachtskarte.png"
              alt="logo"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img
              src="/images/printdesign/woelke-mockup.png"
              alt="logo"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="kw-col s6 m4">
      <div class="kw-padding-small">
        <div class="kw-border kw-padding-even-16">
          <div class="kw-portfolio--image-wrapper">
            <img src="/images/logos/logo5.png" alt="logo" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #### Printdesign END ####### -->
</section>
<script>
  const buttons = document.querySelectorAll('.kw-portfolio-button button');
  const webdesign = document.querySelector('#webdesign');
  const logos = document.querySelector('#logos');
  const printdesign = document.querySelector('#printdesign');
  buttons.forEach((button) => {
    button.addEventListener('click', (e) => {
      console.log(button.getAttribute('data-tab'));
      if (button.getAttribute('data-tab') === 'logos') {
      }
      buttons.forEach((button) => {
        button.classList.remove('active-btn');
      });
      button.classList.add('active-btn');
    });
  });
</script>
